.table{
    position: relative;
    width: 100%;
    height: 400px;
    padding: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 100px;
}

.table .table-title p {
    font-size: 2.7rem;
    font-weight: 1000;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to top, #743ad5, #d53a9d);   
    width: 350px;  
}

.table .table-header {
    background-color: white;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.table-header .table-address {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.table-header .table-nfts, .table-header .table-value {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.table-value img {
    width: 20px;
}

.table-header p {
    font-size: 1.2rem;
    margin-top: 19px;
    word-wrap: break-word;
    font-weight: 100;
}

/*  */

.table .content-table {
    width: 100%;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 20px;
    flex-direction: column;
    font-size: 1.2rem;
}

.table .table-data {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.table-data .wallet-address {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    word-wrap: break-word;
}

.table-data .total-nfts, .table-data .nft-value {
    height: 100%;
    min-width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.nft-value img {
    width: 15px;
}

.table-data p {
    margin-top: 19px;
    color: rgb(90, 90, 90);
}

.wallet-address p {
    word-wrap: break-word;
    width: 100%;
    text-align: center;
}

@media all and (max-width:768px) {
    .table {        
        padding: 10px;
        margin-top: 800px;
    }
    .table-header .table-address {
        width: 45%;
    }
    .table-header p {
        font-size: 1rem;
        text-align: center;
    }
    .table-data p {
        padding: 3px;
        font-size: .9rem;
        text-align: center;
    }
    .table-value img {
        width: 10px;
    }
    .nft-value img {
        width: 10px;
    }

    .table-data .total-nfts {
        border-left: 2px solid lightgray;
        border-right: 2px solid lightgray;
    }

    .table-data .total-nfts, .table-data .nft-value {
        width: 100px;
    }

    .table-header .table-nfts {
        border-left: 2px solid lightgray;
        border-right: 2px solid lightgray;
    }
    
    .table-header .table-nfts, .table-header .table-value {
        width: 100px;
    }
    

.table-data .wallet-address {
    width: 45%;
}

}