@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Play&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 60vh;
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 0px;
    position: relative;
    margin-top: 40vh;
}

.moto {
    position: absolute;
    top: 170px;
    left: 10px;
    text-align: center;
    font-size: 3rem;
    font-weight: 1000;
    color: white;
    min-width: 100%;
}



.moto p {
    display: none;
}

.moto .patterns {
    height: 400px;
}

svg text {    
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 10px;
    stroke: #1b1b1b;
    font-size: 90px;
    font-weight: 1000;
    stroke-width: 1;
    word-wrap: break-word;
    animation: textAnimate 5s infinite alternate;
}

@keyframes textAnimate {
    0% {
        stroke-dasharray: 0 50%;
        stroke-dashoffset: 20%;
        fill: #474747
    }

    100% {
        stroke-dasharray: 50% 0;
        stroke-dashoffstet: -20%;
        fill: hsla(189, 68%, 75%, 0%)
    }

}

.content .numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5px;
    transition: .3s ease-in-out;
    margin-top: 100px;
    margin-bottom: 100px;
}

.numbers .users:hover,
.numbers .worth-nfts:hover {
    margin-top: -5px;
}

.numbers .users,
.numbers .worth-nfts {
    width: 200px;
    text-align: center;
    margin: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    transition: .2s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.users .title,
.worth-nfts .title {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 40px;
}

.users .number,
.worth-nfts .number {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 0px;
}

@media screen and (max-width:1024px) {

    .numbers .users,
    .numbers .worth-nfts {
        width: 10px;
    }

    .users .number,
    .worth-nfts .number {
        font-size: 1rem;
    }

    .users .title,
    .worth-nfts .title {
        font-size: 1.3rem;
    }
}

@media screen and (max-width:1024px) {

    .moto {
        position: relative;
        left: 0px;
        word-wrap: break-word;
        flex-grow: 1;
        color: #1b1b1b;
        width: 80%;
    }

    .moto p {
        display: block;
    }

    .moto .patterns {
        display: none;
    }

    .content {
        margin-left: 0px;
    }

    .numbers .users,
    .numbers .worth-nfts {
        width: 150px;
    }

}